.container {
    display: flex;
    height: calc(100vh - 113px);
    flex-direction: column;
}

.leerlingContainer {
    flex: 1;
    margin-top: 2em;
    height: calc(100vh - 145px)
}

.leerlingCompetenties {
    border-left: 1px solid lightgray;
}