<div class="leerling-details">
  <img class="icon fas fa-{{leerling.icon}} {{leerling.richting.kleur}} x2" src="../../../assets/images/{{leerling.geslacht}}.png">
  <form class="richtingNaamForm">
    <mat-form-field class="input">
      <input matInput placeholder="Voornaam" value="{{leerling.voornaam}}">
    </mat-form-field>
    <mat-form-field class="input">
      <input matInput placeholder="Achternaam" value="{{leerling.achternaam}}">
    </mat-form-field>
    <mat-form-field class="input">
      <input matInput placeholder="Email" value="{{leerling.email}}">
    </mat-form-field>
  </form>
</div>
