<div class="card_border">
<div class="card_main" id="nav">
  <img src="assets/images/boy.png" class="icon">
  <div class="text" href="#nav">
    <h3>Ocean Li</h3>
    <h4>Informatica</h4>
    <a *ngIf="isOpen"  (click)="toggle()" href="#nav"><fa class="slide_open_button" name="angle-down" size="1x"></fa></a>
    <a *ngIf="(!isOpen)" (click)="toggle()" href="#nav2"><fa class="slide_open_button" name="angle-up" size="1x"></fa></a>
  </div>
</div>
<div id="nav2" class="card_slider expandable">
    <ul class="full">
      <li>
        Naam: Li
      </li>
      <li>
        Voornaam: Hu Ocean
      </li>
      <li>
        Richting: Informatica
        </li>
      <li>
        Email: hu.ocean.li@gmail.com
      </li>
      <li>
        Competenties: 100
      </li>
      <li>
        Werkgever: Geen
      </li>
    </ul>
  </div>
</div>