<div class="card_border">
<div class="card_main" id="{{leerling.id}} expandable">
  <img src="assets/images/{{geslacht}}.png" class="icon">
  <div class="text" href="#nav">
    <h3>{{leerling.voornaam}} {{leerling.achternaam}}</h3>
    <h4>{{leerling.richting.naam}}</h4>
    <a (click)="toggle()"><fa class="slide_open_button" name="{{isOpen?'angle-up':'angle-down'}}" size="1x"></fa></a>
  </div>
</div>
<div id="#{{id}}pannel" class="card_slider" [ngClass]="{slidedown:isOpen,slideup:!isOpen}">
    <ul class="full">
      <li>
        Naam: {{leerling.achternaam}}
      </li>
      <li>
        Voornaam: {{leerling.voornaam}}
      </li>
      <li>
        Richting: {{leerling.richting.naam}}
        </li>
      <li>
        Email: {{leerling.email}}
      </li>
      <li>
        Competenties: {{leerling.competenties.length}}
      </li>
      <li>
        Werkgever: {{leerling.werkgever?.naam||"Geen"}}
      </li>
    </ul>
  </div>
</div>