.icon{
    vertical-align:bottom;
    height: 66px;
    width: 60px;
    padding: 10px;
    background-color: rgb(0, 132, 255)
}

.icon:hover {
    background-color: rgb(1, 41, 78);
}

.card_border{
    box-shadow: 0 4px 8px 0 rgba(234, 233, 233, 0.01), 0 6px 20px 0 rgb(228, 228, 228);
    font-family: Raleway;
}

.card_main{
    display: flex;
}

.card_slider{
    display: flex;
    border-top: 0px;
    font-size: 12px;
}

.text{
    width: calc(100% - 80px);
    height: 85px;
    text-align: center;
    border-bottom: 1px solid rgba(199, 199, 199, 0.363)
}

h3 {
    margin: auto;
    margin-top: 20px;
    font-weight: lighter;
}

h4{
    margin: auto;
    margin-top: 0px;
    margin-bottom: 8px;
    font-size: 12px;
    font-weight: lighter;
}

.slide_open_button{
    color: grey;
    margin-top: 20px;
}

/* animation */

.slideup {
    max-height: 0;            
    overflow-y: hidden;
    -webkit-transition: max-height 0.5s ease-out;
    -moz-transition: max-height 0.5s ease-out;
    -o-transition: max-height 0.5s ease-out;
    transition: max-height 0.5s ease-out;
}
.slidedown {            
    max-height: 500px ;
    overflow-y: hidden;
    -webkit-transition: max-height 1.5s ease-out;
    -moz-transition: max-height 2.5s ease-out;
    -o-transition: max-height 2.5s ease-out;
    transition: max-height 2.5s ease-out;                   
}