<mat-tab-group class="center" mat-align-tabs="center" [selectedIndex]="selectedTab" (selectedIndexChange)="changeTab($event)">
  <mat-tab label="Overzicht">
    <app-leerlingen-view (toekennenCompetenties)="kenCompetentiesToe($event)" (edit)="editLeerling($event)"></app-leerlingen-view>
  </mat-tab>
  <mat-tab label="Toekennen competenties" *ngIf="selectedLeerling">
      <app-leerling-competenties-toekennen-scherm [leerling]="selectedLeerling"></app-leerling-competenties-toekennen-scherm>
  </mat-tab>
  <mat-tab label="Aanpassen" *ngIf="selectedLeerling">
    <app-leerling-scherm [leerling]="selectedLeerling"></app-leerling-scherm>
  </mat-tab>
  <mat-tab label="Nieuw">
  </mat-tab>
</mat-tab-group>
