<div class="card_border">
  <div class="card_main" id="#{{id}}">
    <div class="icon outer {{richting.kleur}}">
      <div class="inner">
        <i class="fas fa-{{richting.icon}} x2"></i>
      </div>
    </div>
    <div class="text" href="#nav">
      <h3>{{richting.naam}}</h3>
      <a (click)="toggle()"><fa class="slide_open_button" name="{{isOpen?'angle-up':'angle-down'}}" size="1x"></fa></a>
    </div>
  </div>
  <div id="#{{id}}pannel" class="card_slider" [ngClass]="{slidedown:isOpen,slideup:!isOpen}">
    <ul class="full">
      <li>
        Naam: {{richting.naam}}
      </li>
      <li>
        Leerkrachten: {{richting.leerkrachtennamen()}}
      </li>
      <li>
        Leerlingen: {{richting.leerlingenId.length}}
      </li>
      <li>
        Competenties: {{richting.competenties.length}}
      </li>
      <li>
        Diploma: {{richting.diploma}}
      </li>
    </ul>
  </div>
</div>