<div class="card_border" (mouseenter)="hover=true" (mouseleave)="hover=false">
  <div (click)="toggle()" class="card_main" id="#{{id}}">
    <div class="icon outer {{richting.kleur}}">
      <div class="inner">
        <i class="fas fa-{{richting.icon}} x2"></i>
      </div>
    </div>
    <div class="text" href="#nav">
      <div class="title">
        <h3 class="titletext">{{richting.naam}}</h3>
      </div>
      <a (click)="toggle()"><fa class="slide_open_button" name="{{isOpen?'angle-up':'angle-down'}}" size="1x"></fa></a>
    </div>
  </div>
  <div id="#{{id}}pannel" class="card_slider " [ngClass]="{slidedown:isOpen,slideup:!isOpen}">
    <div class="full">
    <ul>
      <li>
        Naam: {{richting.naam}}
      </li>
      <li>
        Leerkrachten: {{richting.leerkrachtennamen()}}
      </li>
      <li>
        Leerlingen: {{richting.leerlingenId.length}}
      </li>
      <li>
        Competenties: {{richting.competenties.length}}
      </li>
      <li>
        Diploma: {{richting.diploma}}
      </li>
    </ul>
    <div class="sliderbuttons2">
      <button mat-button type="button" class="half sliderbuttons" (click)="deleteLeerkracht(i)">
          <i class="deleteIcon fas fa-trash-alt f-red"></i>
      </button>
      <button mat-button type="button" class="half sliderbuttons divider" (click)="editRichting()">
          <i class="deleteIcon fas fa-pen f-black"></i>
      </button>
      </div>
  </div>
  </div>
</div>