<mat-toolbar class="toolbar">
    <mat-toolbar-row class="toolbarRow">
        <button mat-icon-button>
        <i class="fas fa-bars" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"></i>
        </button>
        <!-- <h2 class="richtingHeader">Richting wijzigen</h2> -->
        <i class="fas fa-graduation-cap x1"></i>
        <!-- QUICK FIX OM ALLES CENTERED TE HOUDEN -->
        <button mat-icon-button class="empty">
        <i class="fas fa-chevron-left"></i>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Overzicht">
        <app-richting-overzicht-scherm></app-richting-overzicht-scherm>
    </mat-tab>
    <mat-tab label="Aanpassen">
        <app-richting-scherm></app-richting-scherm>
    </mat-tab>
</mat-tab-group>



