<table mat-table [dataSource]="dataSource.data" class="mat-elevation-z8">
  <ng-container matColumnDef="Hoofdcompetentie">
    <th mat-header-cell *matHeaderCellDef>Hoofdcompetentie</th>
    <td mat-cell *matCellDef="let hoofdcompetentie">{{hoofdcompetentie.description}}</td>
  </ng-container>
  <ng-container matColumnDef='Beoordeling'>
    <th mat-header-cell *matHeaderCellDef>Beoordeling</th>
    <td mat-cell *matCellDef="let hoofdcompetentie">
      <mat-radio-group class="">
        <mat-radio-button *ngFor="let keuze of keuzesBeoordeling" [value]="keuze" (change)="hoofdcompetentieBeoordelen($event, hoofdcompetentie)">{{keuze}}</mat-radio-button>
      </mat-radio-group>
    </td>
  </ng-container>
  <ng-container matColumnDef='Behaald'>
    <th mat-header-cell *matHeaderCellDef>Behaald</th>
    <td mat-cell *matCellDef="let hoofdcompetentie">
      <mat-checkbox (change)="behaalHoofdcompetentie($event, hoofdcompetentie)">Behaald</mat-checkbox>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row;columns: displayedColumns;"></tr>
</table>
