table {
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(234, 233, 233, 0.01), 0 6px 20px 0 rgb(228, 228, 228);
    font-family: Raleway;
}

.hoofdcompetentie-header, thead {
    background-color: lightgrey;
    font-weight: bold;
}

.hoofdcompetentieKolom {
    font-size: 12px;
    font-weight: bold;
}

.beoordelingKolomCell, .beoordelingKolomHeader, .behaaldKolomCell, .behaaldKolomHeader {
    text-align: center;
}

tr.example-detail-row {
    height: 0;
}
  
tr.hoofdcompetentie-row:not(.example-expanded-row):hover {
    background: #f5f5f5;
}
  
tr.hoofdcompetentie-row:not(.example-expanded-row):active {
    background: #efefef;
}
  
.hoofdcompetentie-row td {
    border-bottom-width: 0;
}
  
.example-element-detail {
    overflow: hidden;
    display: flex;
}

.deelcompetentiesContainer {
    padding: 25px;
    width: 100%;
}