<table mat-table [dataSource]="dataSource.data" multiTemplateDataRows>
  <ng-container matColumnDef="Hoofdcompetentie" class="hoofdcompetentieKolom">
    <th mat-header-cell *matHeaderCellDef>Hoofdcompetentie</th>
    <td mat-cell *matCellDef="let hoofdcompetentie" class="hoofdcompetentieKolomCell">{{hoofdcompetentie.description}}</td>
  </ng-container>
  <ng-container matColumnDef='Beoordeling' class="beoordelingKolom">
    <th mat-header-cell *matHeaderCellDef class="beoordelingKolomHeader">Beoordeling<br>(O - V - G - ZG - N/A)</th>
    <td mat-cell *matCellDef="let hoofdcompetentie" class="beoordelingKolomCell">
      <mat-radio-group class="radioButtonLabelBeneden">
        <mat-radio-button class="radioButtonLabelBeneden" *ngFor="let keuze of keuzesBeoordeling" [value]="keuze" (change)="hoofdcompetentieBeoordelen($event, hoofdcompetentie)"></mat-radio-button>
      </mat-radio-group>
    </td>
  </ng-container>
  <ng-container matColumnDef='Behaald' class="behaaldKolom">
    <th mat-header-cell *matHeaderCellDef class="behaaldKolomHeader">Behaald</th>
    <td mat-cell *matCellDef="let hoofdcompetentie" class="behaaldKolomCell">
      <mat-checkbox (change)="behaalHoofdcompetentie($event, hoofdcompetentie)"></mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="Deelcompetentie">
    <td mat-cell *matCellDef="let hoofdcompetentie" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail" [@detailExpand]="hoofdcompetentie == expandedElement ? 'expanded' : 'collapsed'">
        <div class="deelcompetentiesContainer">
          <div contenteditable="false" *ngFor='let deelcompetentie of teBehalenLeerlingDeelcompetenties'>
              <app-deelcompetentie-toekennen [deelcompetentie]=deelcompetentie [idHoofdcompetentie]=hoofdcompetentie></app-deelcompetentie-toekennen>
          </div>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay" class="hoofdcompetentie-header"></tr>
  <tr mat-row *matRowDef="let row;columns: columnsToDisplay;" class="hoofdcompetentie-row" [class.example-expanded-row]="expandedElement === row" (click)="klapHoofdcompetentieOpen(row)"></tr>
  <tr mat-row *matRowDef="let row; columns: ['Deelcompetentie']" class="example-detail-row"></tr>
</table>
