.toolbar {
    background-color: white;
    -webkit-box-shadow: 0 4px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 4px 5px rgba(57, 63, 72, 0.3);
    box-shadow: 0 4px 5px rgba(57, 63, 72, 0.3);
    font-size: 1rem;
}

.toolbarRow {
    display: flex;
    justify-content: space-between;
    padding-left: 2vw;
    padding-right: 2vw;
}

.fa-graduation-cap {
    font-size: 2.5em;
    color: #3f51b5;
}

.fa-bars {
    font-size: 2em;
    color: #3f51b5;
}

/* QUICK FIX OM ALLES CENTERED TE HOUDEN */
.empty {
    visibility: hidden;
}

.richtingContainer {
    display:flex;
    /* justify-content: center ; */
    margin: 2em;

    border-radius: 1vw;

    -webkit-box-shadow: 0px 11px 54px -10px rgb(0,0,0,0.5);
    -moz-box-shadow: 0px 11px 54px -10px rgb(0,0,0,0.5);
    box-shadow: 0px 11px 54px -10px rgb(0,0,0,0.5);
}

.richtingCompetenties {
    flex: 1;
    margin: 0.6em 2em;
}

.menuButton {
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-weight: 300;
    font-size: 20px;
    display: block;
    width: 100%;
}

.menuIcon {
    margin: 15px;
    font-size: 25px;
    color: #3f51b5;
}

.menuText {
    margin-left: 2.5vw;
    margin-right: 2vw;
}

.bottom {
    position: absolute;
    bottom: 0;
    width: 99.9%;
}

.buttonWrapper {
    width: 100%;
    overflow: auto;
    /* margin-top: 10px; */
}

.right {
    float: right;
    margin: 12px;
}
