<div class="card_border" (mouseenter)="hover=true" (mouseleave)="hover=false">
  <div (click)="!edit && toggle()" class="card_main" id="#{{id}}">
    <div class="icon outer {{hoofdcompetentie.color}}">
      <div class="inner">
        <i class="fas fa-{{hoofdcompetentie.icon}} x2"></i>
      </div>
    </div>
    <div class="text" href="#nav">
      <div class="title">
        <h3 *ngIf="!edit" class="titletext">{{hoofdcompetentie?.description}}</h3>

        <div *ngIf="edit" class="hoofdcompDescriptionWrapper">
            <mat-form-field class="descriptionInput">
                <textarea matInput value="{{hoofdcompetentie?.description}}"></textarea>
            </mat-form-field>
        </div>

        <!-- <textarea *ngIf="edit" class="titletext textarea bottomfix" [(ngModel)]="hoofdcompetentie.description"></textarea> -->
      </div>
      <i (click)="!edit && toggle()">
        <fa (click)="toggle()" class="slide_open_button" name="{{isOpen?'angle-up':'angle-down'}}" size="1x"></fa>
      </i>
    </div>
  </div>
  <div id="#{{id}}pannel" class="card_slider " [ngClass]="{slidedown:isOpen,slideup:!isOpen}">
    <div class="full">
      <div class="deelcompetentiesContainer">
        <div contenteditable="false" *ngFor="let deelcompetentie of hoofdcompetentie.deelcompetenties">
            <app-deelcompetentie [modify]=modify [deelcompetentie]=deelcompetentie [idHoofdcompetentie]=hoofdcompetentie></app-deelcompetentie>
        </div>
        <mat-card *ngIf="modify" class="addDeelcompCard">
            <i class="addDeelcompIcon fas fa-plus"></i>
        </mat-card>
      </div>

      <div *ngIf="modify" class="sliderbuttons2 full">
        <div class="sliderbuttons3 half">
          <button cdkFocusInitial mat-button type="button" class="full sliderbuttons" (verwijder)="verwijderRichting($event)"
            (click)="openDialog()">
            <i class="deleteIcon fas fa-trash-alt f-red"></i>
          </button>
        </div>
        <div class="sliderbuttons3 half radius {{showSelected()}}">
          <button mat-button type="button" class="full sliderbuttons divider" (click)="toggleEdit()">
            <i class="deleteIcon fas fa-pen f-black " [ngClass]="{white: edit}"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
