.richtingContainer {
    margin-top: 2em;
}

.container {
    height: 70vh;
}

.richtingCompetenties {
    border-left: 1px solid lightgray;
}

/* QUICK FIX OM ALLES CENTERED TE HOUDEN */
.empty {
    visibility: hidden;
}