<div class="container">
  <div class="row richtingContainer">
      <app-richting-details class="
        col-lg-4
        col-md-5
        col-sm-6
        richtingDetails"
      ></app-richting-details>
      <app-richting-competenties class=" 
        col-lg-8
        col-md-7
        col-sm-6
        richtingCompetenties"
      ></app-richting-competenties>
  </div>

  <div class="buttonContainer">
      <button mat-stroked-button>
        <i class="fas fa-ban"></i>
      </button>
      <button mat-stroked-button>
        <i class="fas fa-save"></i>
      </button>
      <button mat-stroked-button>
        <i class="fas fa-plus"></i>
      </button>
  </div>

</div>