<mat-toolbar class="toolbar">
  <mat-toolbar-row class="toolbarRow">
    <button mat-icon-button>
      <i class="fas fa-chevron-left"></i>
    </button>
    <!-- <h2 class="richtingHeader">Richting wijzigen</h2> -->
    <i class="fas fa-graduation-cap"></i>
    <!-- QUICK FIX OM ALLES CENTERED TE HOUDEN -->
    <button mat-icon-button class="empty">
      <i class="fas fa-chevron-left"></i>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <div class="row richtingContainer">
      <app-richting-details class="
        col-lg-4
        col-md-5
        col-sm-6
        richtingDetails"
      ></app-richting-details>
      <app-richting-competenties class=" 
        col-lg-8
        col-md-7
        col-sm-6
        richtingCompetenties"
      ></app-richting-competenties>
  </div>
</div>