.richtingContainer {
    height: calc(100vh - 84px);
    overflow-y: auto;

}

.buttonContainer {
    height: 25vh;
}

.seachbarpadding{
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.toolbar {
    background-color: white;
    -webkit-box-shadow: 0 4px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 4px 5px rgba(57, 63, 72, 0.3);
    box-shadow: 0 4px 5px rgba(57, 63, 72, 0.3);
    font-size: 1rem;
}

.toolbarRow {
    display: flex;
    justify-content: space-between;
    padding-left: 2vw;
    padding-right: 2vw;
}

.fa-graduation-cap {
    font-size: 2.5em;
}

.fa-chevron-left {
    font-size: 1.5em;
}

/* QUICK FIX OM ALLES CENTERED TE HOUDEN */
.empty {
    visibility: hidden;
}