<div class="">
  <mat-toolbar class="toolbar">
    <mat-toolbar-row class="toolbarRow">
      <button mat-icon-button>
        <i class="fas fa-chevron-left" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"></i>
      </button>
      <!-- <h2 class="richtingHeader">Richting wijzigen</h2> -->
      <i class="fas fa-graduation-cap x1"></i>
      <!-- QUICK FIX OM ALLES CENTERED TE HOUDEN -->
      <button mat-icon-button class="empty">
        <i class="fas fa-chevron-left"></i>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <!-- <div class="container seachbarpadding">
        <mat-form-field class="">
            <input matInput (keyup)='filterRichting$.next($event.target.value)' type="text" class="mat-input-element" placeholder="Search"
            id="filter" name="filter">
        </mat-form-field>
  </div> -->
  <div class="richtingContainer">
      <app-richtingen-view class=""></app-richtingen-view>
  </div>
</div>