.richting-details {
    /* min-width: 300px; */
    padding: 0 15px;
    /* border-right: 1px solid lightgray; */
}

.icon {
    display: grid;
    text-align: center;
    align-content: center;
    width: 120px;
    height: 120px;
    margin: 0 auto 20px auto;
    color: white;
    font-size: 1.5rem;

}

.scrollDiv{
    max-height: 12rem;
    overflow: scroll;
}

.input {
    width: 100%;
}

.fullWidth {
    width: 100%;
    display: flex;
}

.addButtonWrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.selectLeerkrachtFormField {
    width: calc(100% - 40px);
    min-width: 0;
    flex: 1 0 auto;
}

.selectLeerkracht {
    min-width: 0;
}

.addButton {
    flex: 0 0 auto;
    margin-left: 15px;
    font-size: 1.5em;
    color: rgb(131, 212, 131);
}

.listitem {
    flex: 1 0 auto;
}

.listitem:hover {
    background-color: rgb(245, 245, 245);
}

.deleteButton {
    visibility: hidden;
    color: rgb(255,105,97);
    font-size: 20px;
    /* flex: 0 0 auto; */
    margin-left: auto;
    order: 2;
}

.listitem:hover .deleteButton {
    visibility: visible;
}

.leerkrachtDiv {
    width: 100%;
    display: flex;
}

@media (max-width:576px){
    .richting-details {
        border-right: 0;
    }
}


::ng-deep .mat-list .mat-list-item .mat-list-item-content {
    padding-right: 0px !important;
}