/* .textarea{
    width: 100%;
    padding: 15px;
    border: 0px;
    resize: none;
}

.textarea:focus{
    width: 100%;
    padding: 15px;
    border: 0px;
    resize: none;
    outline-color: transparent;
    outline-style: none;
} */

.deelcompContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: inherit;
    font-weight: 350;

    padding: 8px 5px 8px 5px;
    margin: 5px -10px;
}

.description {
    flex: 1;
}

.deelcompContainer:hover {
    background-color: rgb(243, 243, 243);
}