/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* manual layout*/
.full{
    width: 100% !important;
}

.half{
    width: 50% !important;
    

}

.third{
    width: 33.3333%
}

/* colors */

.red {
    background-color: #800000;
}

.orange{
    background-color: #ce6e00;
}

.yellow{
    background-color: #f0c400;
}

.green{
    background-color: #009e0f;
}

.blue{
    background-color: #005a96;
}

.purple{
    background-color: #674a9c;
}

.black{
    background-color: rgba(0, 0, 0, 0.733);
}

.white{
    background-color: white;
}

.brown{
    background-color: rgb(112, 56, 35);
}

/* font colors*/

.f-red {
    color: salmon;
}

.f-orange{
    color: sandybrown;
}

.f-yellow{
    color: rgb(255, 246, 123);
}

.f-green{
    color: green;
}

.f-blue{
    color: rgb(37, 138, 179);
}

.f-purple{
    color: #7357a7;
}

.f-black{
    color: rgba(0, 0, 0, 0.733);
}

.white{
    color: white;
}

.brown{
    color: rgb(112, 56, 35);
}

/* font sizes*/

.x1 {
    font-size: 1
 }

.x1dot5 {
    font-size: 1.5em
 }

 .x2 {
    font-size: 2em
 }

 .x3{
    font-size: 3em
 }

 /* button fix*/
 button:focus {
    outline:none;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(221, 221, 221, 0.5);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(128, 128, 128, 0.9);
    border-radius: 5px;
}

    /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(128, 128, 128, 0.7);
    border-radius: 5px;
}