/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* manual layout*/
.full{
width: 100%
}

.half{
    width: 50%
}

.third{
    width: 33.3333%
}

/* colors */

.red {
    background-color: #800000;
}

.orange{
    background-color: #ce6e00;
}

.yellow{
    background-color: #f0c400;
}

.green{
    background-color: #009e0f;
}

.blue{
    background-color: #005a96;
}

.purple{
    background-color: #674a9c;
}

.black{
    background-color: rgba(0, 0, 0, 0.733);
}

.white{
    background-color: white;
}

.brown{
    background-color: rgb(112, 56, 35);
}

/* font sizes*/

.x1dot5 {
    font-size: 1.5em
 }

 .x2 {
    font-size: 2em
 }

 .x3{
    font-size: 3em
 }