<div class="containerDing">
  <div class="headerContainer">
    <h2 class="competentiesHeader">Competenties</h2>

    <form class="competentieNaamFilter">
      <mat-form-field class="filterInput">
        <span matPrefix>
          <i class="fas fa-search"></i>
          &nbsp;
        </span>
        <input matInput class="filterInputField">
      </mat-form-field>
    </form>

    <mat-form-field class="moduleSelect">
      <mat-select placeholder="Filter op module">
        <mat-option>---</mat-option>
        <mat-option value="module1">Module 1</mat-option>
        <mat-option value="module2">Module 2</mat-option>
        <mat-option value="module3">Module 3</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="competentiesContainer row">
      <div *ngFor="let hoofdc of hoofdCompetenties" class="
        col-lg-6
        col-12
      ">
      <!-- TIJDELIJKE OPLOSSING TODO OCEAN CUSTOM KAARTJES -->
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <i class="fas fa-desktop"></i>
              </mat-panel-title>
              <mat-panel-description>
                {{hoofdc.description}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <div *ngFor="let deelcomp of hoofdc.deelcompetenties">
                <mat-list-item role="listitem" class="listitem" [ngStyle]="{'margin-top':'10px'}">
                  <i class="fas fa-genderless"></i>
                  &nbsp;&nbsp;{{deelcomp.description}}
                </mat-list-item>
              </div>
            </mat-list>
          </mat-expansion-panel>
        </mat-accordion>

      </div>
  </div>
</div>