.containerDing {
    flex: 1;
    padding: 0 15px;
    /* border: 1px solid lightgray; */
}

.headerContainer {
    width: 100%;
    display: flex;
    margin-bottom: 1em;
    /* margin: 0.7em 0.7em 0 0.7em; */
}

.competentiesHeader {
    flex: 0;
    font-family: "roboto";
    font-weight: 300;
    font-size: 1.7em;
    padding: 16px 1em 0 0;
}

.competentiesContainer {
    height: calc(100vh - 330px);
    overflow: auto;
    padding: 20px;
}

.competentieNaamFilter {
    flex: 1;
    min-width: 0;
}

.competentiePadding{
    padding-bottom: 1rem;
}

.filterInput {
    width: 100%;
    min-width: 0;
}

.filterInputField {
    min-width: 0;
}

.moduleSelect {
    flex: 0;
    padding-left: 1em;
}

@media (max-width:992px){
    .headerContainer {
        flex-wrap: wrap;
    }
    .competentiesHeader {
        flex: 0 0 100%;
        width: 100%;
    }
    .competentieNaamFilter {
        width: 50%;
        min-width: 50%;
    }
    .moduleSelect {
        width: 50%;
        min-width: 50%;
    }
  }