<div class="containerDing">
  <div class="headerContainer">
    <h2 class="competentiesHeader">Competenties</h2>
    <form class="competentieNaamFilter" >
      <mat-form-field class="filterInput">
        <span matPrefix>
          <i class="fas fa-search"></i>
          &nbsp;
        </span>
        <input matInput class="filterInputField" [(ngModel)]='beschrijving' type="text" id="filter"
          name="filter">
      </mat-form-field>
      <mat-form-field class="moduleSelect">
        <mat-select placeholder="Filter op module" [(value)]="selected" (ngmodel)="module">
          <mat-option *ngFor="let module of modules" [value]="module">{{module}}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>

  <div class="competentiesContainer row">
    <app-hoofdcompetentie  class="full competentiePadding" *ngFor="let competentie of hoofdCompetenties | competentieFilter:beschrijving:selected" [hoofdcompetentie]=competentie></app-hoofdcompetentie>
  </div>
</div>

